<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pocket Money - login</title>
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="/imgs/pocket-money-icon-color.ico"
      type="image/x-icon"
      sizes="16x16 32x32 48x48"
    />
  </head>
  <body>
    <div class="flex justify-center items-center min-h-screen p-2">
      <div class="app text-center">
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => {
        %>
        <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %> <% } %> <% if (locals.messages.info) { %> <%
        messages.info.forEach( el => { %>
        <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %> <% } %>
        <header class="flex items-center justify-center gap-4 mb-8">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-12 h-12 text-green-300"
            style="transform: rotate(180deg)"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"
            />
          </svg>
          <h1 class="text-gray-200" style="font-size: 2.5rem">Pocket Money</h1>
        </header>
        <form action="/login" method="POST" class="flex flex-col">
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="input input-bordered w-full mb-4 text-gray-200"
          />
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="input input-bordered w-full mb-4 text-gray-200"
          />
          <input value="LOGIN" type="submit" class="btn btn-success" />
        </form>
      </div>
    </div>
    <footer class="footer footer-center p-4 bg-base-300 text-base-content">
      <aside>
        <p>Copyright © 2023 - All right reserved by David Wiese</p>
      </aside>
    </footer>
    <script src="js/main.js"></script>
  </body>
</html>
